html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; // Empêche la barre de défilement
}
#cy {
    width: 100%;
    height: 100%;
    position: absolute; // Assure que la div n'a pas de marges autour
}
